<!DOCTYPE html>
<html>
    <head>
        <title>Doodlay</title>
        <meta name="viewport" content="width=device-width">
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />

        <style>
            body, p {
                font-family: Helvetica, Arial, sans-serif;
                color: #343434;
                margin: 0;
                padding: 0;
                text-rendering: geometricPrecision;
                -webkit-font-smoothing: antialiased;
                -moz-osx-font-smoothing: grayscale;
                -moz-text-size-adjust: none;
                -webkit-text-size-adjust: none;
                -ms-text-size-adjust: none;
                text-size-adjust: none;
            }

            .wrapper {
                width: 580px;
                padding-top: 16px;
                padding-bottom: 16px;
                box-sizing: border-box;
            }

            @media all and (max-width: 580px) {
                .wrapper {
                    width: 100% !important;
                    padding: 10px 0;
                }

                .cover {
                    width: 100% !important;
                }
            }
        </style>
    </head>

    <body border="0" cellpadding="0" cellspacing="0" height="100%" width="100%" bgcolor="#fff" style="margin:0;padding:0;"">
        <table border="0" cellpadding="0" cellspacing="0" height="100%" width="100%" bgcolor="#fff">
            <tr>
                <td align="center">
                    <table class="wrapper" border="0" cellpadding="0" cellspacing="0" style="width:580px;max-width:580px;padding-top:16px;padding-bottom:16px;">
                        <tr>
                            <td align="center" style="padding-right:16px;padding-left:16px;">
                                <a href="https://doodlay.co" target="_blank" style="color:#343434;font-family:Helvetica,Arial,sans-serif;font-weight: bold;">
                                    <img width="100" src="https://doodlay.co/statics/marketing/emails/images/logos/b_logo.png" height="auto" alt="Doodlay" style="width:100px;height:auto;padding-top:28px;padding-bottom:16px;" />
                                </a>
                            </td>
                        </tr>
                    </table>

                    <table class="wrapper" border="0" cellpadding="0" cellspacing="0" style="width:580px;max-width:580px;padding-top:16px;padding-bottom:28px;">
                        <tr>
                            <td style="padding-right:16px;padding-left:16px;">
                                <p style="color:#343434;font-family:Helvetica,Arial,sans-serif;font-weight:700;font-size:32px;margin:0;padding-bottom:24px;text-align:center;"><%= title %></p>
                                <p style="color:#343434;font-family:Helvetica,Arial,sans-serif;font-weight:400;font-size:24px;margin:0;padding-bottom:16px;text-align:center;"><%= subtitle %></p>
                            </td>
                        </tr>
                        <tr>
                            <td align="center" style="padding-right:16px;padding-left:16px;">
                                <img class="cover" width="75%" src="https://doodlay.co/statics/marketing/emails/images/welcome/cover.jpg" height="auto" alt="<%= adventures %>" style="width:75%;height:auto;padding-top:28px;padding-bottom:28px;" />
                            </td>
                        </tr>
                        <tr>
                            <td align="center" style="padding-right:16px;padding-left:16px;">
                                <a style="display:inline-block;padding:8px 25px;line-height:24px;text-decoration:none;color:#ffffff;background-color: #1bad8a;" href="<%= environment %>confirm/<%= token %>" target="_blank"><%= verify_account %></a>
                            </td>
                        </tr>
                    </table>

                    <table class="wrapper" border="0" cellpadding="0" cellspacing="0" style="width:580px;max-width:580px;padding-top:16px;padding-bottom:16px;">
                        <tr>
                            <td style="padding-right:16px;padding-left:16px;padding-bottom:16px;">
                                <hr style="clear:both;border:0;background-color:#eee;height:1px;width:100%;margin:0;">
                                <p style="color:#d8d8d8;font-family:Helvetica,Arial,sans-serif;margin:0;font-size:13px;text-align:center;margin-top:24px;"><%- footer_top %></p>
                                <p style="color:#d8d8d8;font-family:Helvetica,Arial,sans-serif;margin:0;font-size:13px;text-align:center;"><%= footer_bottom %></p>
                            </td>
                        </tr>
                    </table>
                </td>
            </tr>
        </table>
    </body>
</html>